<VirtualHost *:80>

    ServerName localhost

    ProxyPreserveHost On

    Redirect "/" "https://{{ IP }}/"

</VirtualHost>

Listen 443
LoadModule ssl_module modules/mod_ssl.so

<VirtualHost *:443>

    ServerName localhost

    SSLEngine on
    SSLProxyEngine on

    ProxyPreserveHost On

    RequestHeader set X-Forwarded-Port "443"
    RequestHeader set X-Forwarded-Proto "https"

    ProxyPass /phpmyadmin/ "http://{{ pma_name }}/"
    ProxyPassReverse /phpmyadmin/ "http://{{ pma_name }}/"

    ProxyPass / "http://{{ wp_name }}/"
    ProxyPassReverse / "http://{{ wp_name }}/"

    SSLCertificateFile "{{ ssl_cert_path }}/apache.pem"
    SSLCertificateKeyFile "{{ ssl_cert_path }}/apache.key"

</VirtualHost>
